/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  @include clearfix();
  margin-bottom: 1em;
  
  @media screen and (max-width: $large) { // <large
    display: flex; // add by czy
    margin-bottom: 4em; // modified by czy
  }
  
  @include breakpoint ($large) { // >large
    height: 100vh;
    overflow-y: auto; // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height;
    // @include span(2 of 12);  // delete margin-right (weird)
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) { // >x-large
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3,
  h4 {
    font-size: $type-size-5;
  }

  p,
  li {
    font-family: $global-font-family;
    font-size: $type-size-5_5;
    line-height: 1.5;
    max-width: 200px;
    @media screen and (max-width: $large){
      max-width: 250px;
      margin-top: 8px;
    }
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  // display: table-cell;
  vertical-align: top;
  max-width: 200px; // modified by czy
  // set width only, for non-square avatars
  // height: 36px;
  
  @include breakpoint($large) {
    margin-bottom: 1.25em;
    display: block;
    width: auto;
    height: auto;
  }
  
  img {
    margin-bottom: 0;
    max-width: 200px;
    border-radius: 5%;

    @include breakpoint($large) {
      // padding: 5px;
      // border: 1px solid $border-color;
    }
  }
}

.author__content {
  // display: table-cell;
  vertical-align: top;
  // padding-left: 15px;
  // padding-right: 25px;
  line-height: 1;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $global-font-family;
  font-size: $type-size-4;
  display: block;

  @include breakpoint($large) {
    display: none;
    font-size: $type-size-5;
  }
}

.sidebar .author__desktop {
  display: none;
  @media screen and (min-width: $large) {
    display: block;
  }
}

.author__pronouns {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author__bio {
  margin: 0;
  display: block;

  @include breakpoint($large) {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-family: $sans-serif;
  z-index: 10;
  position: relative;
  cursor: pointer;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
  }

  button {
    margin-bottom: 0;
    display: none; // add by czy

    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: flex;
  // position: absolute;
  right: 0;
  margin: 0; // modified by czy
  // margin-top: 15px;
  padding: 0;
  list-style-type: none;
  // border: 1px solid $border-color;
  border-radius: $border-radius;
  background: none;
  z-index: -1;
  // box-shadow: 0 0 10px rgba(#000, 0.25);
  cursor: default;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  &:before {
    display: none; // modified by czy
    // display: block;
    content: "";
    position: absolute;
    top: -11px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $border-color transparent;
    z-index: 0;

    @include breakpoint($large) {
      display: none;
    }
  }

  &:after {
    display: none; // modified by czy
    // display: block;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: #fff transparent;
    z-index: 1;

    @include breakpoint($large) {
      display: none;
    }
  }

  li {
    white-space: nowrap;
    margin-bottom: 8px;
    
    @media screen and (max-width: $large) {
      margin: 0;
      font-size: $type-size-4;
    }
  }

  a {
    display: block;
    margin-bottom: 8px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: $large) {
      margin: 0;
      padding-bottom: 0;
      padding-top: 0;
      padding-right: 16px;
      font-size: $type-size-4;
      
      i {
        vertical-align: -.5em;
      }
    }
  }
}

/* added by czy */
.author__urls{
  a>i {
    @media screen and (max-width: $large) {
      &:hover {
        color: $highlight;
      }
    }
  }
}

// topbar on small screen
.topbar {
  @media screen and (max-width: $large) {
    height: min-content;
    width: auto;
    /* display */
    display: inline-grid;
    
    /* grid */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "avatar txt_content"
    "avatar txt_content"
    "avatar urls"
    ;
    column-gap: 24px;

    margin-left: auto;
    margin-right: auto;
  }

  .author__avatar {
    @media screen and (max-width: $large){
      grid-area: avatar;
      justify-self: end;
    }
  }

  .author__content {
    @media screen and (max-width: $large){
      grid-area: txt_content;
    }
  }

  .author__urls-wrapper {
    @media screen and (max-width: $large){
      grid-area: urls;
      align-self: end;
    }
  }
}