$themes: (
    /* light theme */
    light: (
        background: #fff,
        text: #1d2228,
        highlight: #dc7c0b,
        highlight-shadow: #be6c10,
        background-shadow: #1d2228,
        research-paper-uthor-font-weight: 400,
        research-img-shadow: #1d2228,
        header_footer-divider: #f2f3f3,
    ),

    /* dark theme */
    dark: (
        background: #1d2228,
        text: #d2d3d4,
        highlight: #ff9a32,
        highlight-shadow: #fb8d02,
        background-shadow: #d2d3d4,
        research-paper-author-font-weight: 300,
        research-img-shadow: #1d2228,
        header_footer-divider: #33383d,
    ),
);

@mixin themed() {
    @each $theme, $map in $themes {
        .theme--#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}
  
@function t($key) {
    @return map-get($theme-map, $key);
}