.greedy-nav {
    .toggle-mode {
        display: block;
        margin: 0 1rem;
        padding: 0.5rem 0;
        // color: $text;
        @include themed() {
            color: t(text);
        }
        text-decoration: none;

        &:hover {
            @include themed() {
                color: t(highlight);
            }
            cursor: pointer;
        }

        i {
            font-size: $type-size-5_5;
            vertical-align: 0;
        }
    }
}

.sticky-toggle {
    display: none;
    visibility: hidden;

    @media screen and (max-width: 760px) {
        display: flex;
        visibility: visible;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: rgba($background-shadow, .5);
        border-radius: 100px;
        border-color: $background-shadow;
        box-shadow: 0 0 8px rgba($background-shadow, .25);
    
        position: fixed;
        right: 8px;
        bottom: 24px;
    
        z-index: 100;
    
        i {
            vertical-align: 0;
            font-size: $type-size-5_5;
        }
    }
}