.research-basic {
    /* size */
    height: auto;
    width: 100%;
  
    /* display */
    display: grid;
  
    /* grid */
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 40px;
  }
  
  .research-img {
    grid-column: 1/3;
    padding-top: 5px; //counterbalance box shadow

    @media screen and (max-width: $large) {
      display: none;
      visibility: hidden;
    }
  }
  
  .research-img-layout_box{
    @include themed() {
      box-shadow: 0 0 5px 1px rgba(t(research-img-shadow), .25);
    }
  }
  
  .research-img-layout_box > img {
    width: 100%;
  }
  
  .research-img-layout_box > .video {
    width: 100%;
  }
  
  .video > iframe {
    width: 100%;
  }
  
  .research-content {
    grid-column: 3/7;

    // @media screen and (max-width: 925px) and (min-width: $large), (max-width: $small) {
    //   grid-column: 1/7;
    // }
    @media screen and (max-width: $large) {
      grid-column: 1/7;
    }
  }
  
  .research-content > div {
    padding-bottom: 6px;
  }
  
  .research-content p {
    margin: 0;
  }
  
  .research-paper-title {
    font-weight: 700;

    p {
      a {
        @include themed() {
          color: t(text);
        }
      }
    }
  }
  
  .research-paper-author {
    @include themed() {
      font-weight: t(research-paper-author-font-weight);
    }
    font-size: 14px;
}

.research-paper-venue{
    font-size: 14px;
    font-weight: 700;
  }
  
.research-paper-attachment{
margin-top: 6px;
}
  
.attachment-btn{
  @include themed() {
    border: 2px solid t(text);
    color: t(text);
  }
  padding: 4px 6px;
  margin-right: 8px;
  border-radius: 5px;
  font-size: $type-size-6;

    &:hover {
      @include themed() {
        border: 2px solid t(highlight);
        color: t(highlight);
      }
    }
}

.separate-section {
    height: 3em;
}

.common-paragraph {
    height: 1.7em;
}